{% sw_extends '@Storefront/storefront/page/checkout/finish/index.html.twig' %}

{% block page_checkout_main_content %}
    {{ parent() }}

    {% block page_checkout_main_content_berrypath_success_pixel %}
        {% set globalEnabled = config('SidworksBerryPathFlow.config.enabled') %}
        {% set successPixelEnabled = config('SidworksBerryPathFlow.config.successPixelEnabled') %}
        {% set order = page.order %}

        {% if globalEnabled is not same as(false) and successPixelEnabled is same as(true) and order %}
            {% set productIdSource = config('SidworksBerryPathFlow.config.productIdSource') ?: 'productNumber' %}
            {% set berryPathConversionItems = [] %}

            {% for lineItem in order.nestedLineItems %}
                {% if lineItem.type === 'product' %}
                    {% set berryPathProductId = '' %}

                    {% if productIdSource == 'productId' and lineItem.payload.productId is defined and lineItem.payload.productId %}
                        {% set berryPathProductId = lineItem.payload.productId %}
                    {% elseif productIdSource == 'referencedId' and lineItem.referencedId %}
                        {% set berryPathProductId = lineItem.referencedId %}
                    {% elseif productIdSource == 'parentId' and lineItem.payload.parentId is defined and lineItem.payload.parentId %}
                        {% set berryPathProductId = lineItem.payload.parentId %}
                    {% elseif productIdSource == 'ean' and lineItem.payload.ean is defined and lineItem.payload.ean %}
                        {% set berryPathProductId = lineItem.payload.ean %}
                    {% elseif productIdSource == 'manufacturerNumber' and lineItem.payload.manufacturerNumber is defined and lineItem.payload.manufacturerNumber %}
                        {% set berryPathProductId = lineItem.payload.manufacturerNumber %}
                    {% elseif productIdSource == 'productName' and lineItem.label %}
                        {% set berryPathProductId = lineItem.label %}
                    {% elseif lineItem.payload.productNumber is defined and lineItem.payload.productNumber %}
                        {% set berryPathProductId = lineItem.payload.productNumber %}
                    {% endif %}

                    {% if berryPathProductId and berryPathProductId not in berryPathConversionItems %}
                        {% set berryPathConversionItems = berryPathConversionItems|merge([berryPathProductId]) %}
                    {% endif %}
                {% endif %}
            {% endfor %}

            {% if berryPathConversionItems is not empty %}
                {% set berryPathConversion = {
                    order_total: order.amountTotal,
                    items: berryPathConversionItems|map(productId => { product_id: productId })
                } %}

                <div data-berrypath-flow-integration
                     data-berrypath-flow-conversion="{{ berryPathConversion|json_encode|e('html_attr') }}"
                     hidden></div>
            {% endif %}
        {% endif %}
    {% endblock %}
{% endblock %}
