{% block sw_cms_element_berrypath_flow_preview %}
    <div class="sw-cms-el-preview-berrypath-flow">
        <mt-icon name="regular-lightbulb" size="24px" />
        <span>{{ $tc('sw-cms.elements.berrypath-flow.label') }}</span>
    </div>
{% endblock %}
